# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Odoo
*.log
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker / Postgres veri
postgres-data/
odoo-data/

# Secrets
.env
*.secret
secrets/

# Config ? buras? ?nemli
# config/odoo.conf  ? Bu dosya GitHub'a gidebilir ??nk? ?ifreler ?rnek
